* {
    padding: 0;
    /* border: 0; */
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(-90deg,#d33c50,#0e5ca5);
    color: white;
    font-family: "poppins",sans;
    min-height: 100vh;

}

header{
    font-size: 1rem;
    padding-top: 10vh;
}

header,form {
    
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    border: none;
    padding: 0.4rem;
    background: rgb(161, 10, 103);
    background-color: white;
    color: #d33c50;
    font-size: 1rem;
}

form button{
    background-color: #3d76ac;
    color: aliceblue;
    cursor: pointer;
    transition: all 20ms ease;
    /* text-align: center; */
    /* font-size: 5 rem; */
    /* padding-left: 10px; */
}

form button:hover{
     background-color: #d33c50;
}

.todo-container{

    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    width: 30%;
}

.todo-structure{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgb(255, 255, 255);
    color: #3d76ac;
    margin: 3px;
    transition: 2sec  ease-in-out;
}

.dooo{
    flex: 1;
    padding: 0px 5px;
    margin: 0px;
}

div button{
    
    border: none;
    color: white;
    background: #0e5ca5;
    cursor: pointer;
    padding: 2px 4px;
    margin: 0px 0px 0px 1px;
    /* margin-left: 4px;
    margin-right: 4px; */
}

.dooo-tick-button:hover{

    background-color: #09a04d;

}

/* .dooo-delete-button{

    background-color: #d33c50;

} */
.dooo-delete-button:hover{

    background-color: #ff0022;
}

.fall-transition{

    transform: translateY(10rem) rotateZ(45deg)  ;
    opacity: 0.2;
    transition: 600ms ease-in;
    /* transition: 30ms all ease  ; */

}

.strike-off{
     
    text-decoration: line-through;
    opacity: 0.2;
    transition: 200ms ease-in  ;
}

/* WRT TO OPTION  */

.div-selection{

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
}

.selection{


    width: 150px;
    height: 25px;
    color: #d33c50;
    font-size: ;

}

